<!DOCTYPE html>
<html>

<head>
	<title>Scelta attori</title>
	<link rel="stylesheet" href="stile.css?version=2" />
</head>

<body>


<div class="box">
	<div class="form">
		<h1 th:text="'Ingredienti della Ricetta ' + ${ricetta.nome}"></h1>
		<div th:if="${ricetta.ingredienti.isEmpty()}">Non ci sono ingredienti per questa ricetta</div>
		<ul>
			<li th:each="ingredient : ${recipe.ingredients}">
				<span th:text="${ingredient.name}+' '+${ingredient.quantity}+' '+${ingredient.measurement_unit}" > sarcicce 2 pezzi</span>
				<!-- <a th:href="@{'/admin/removeActorFromMovie/'+ ${actor.id}+'/'+${movie.id}}"><button type="button"> Cancella</button></a> -->
			</li>

		</ul>
		<div>
			<!-- INVECE DI MOSTRARE LA LISTA, AGGIUNGERE UN MINI FORM PER AGGIUNGERE UN NUOVO INGREDIENTE -->
			Ingredienti da aggiungere:
			<ul>
				<li th:each="ingredient : ${ingredientsToAdd}">
					<span th:text="${ingredient.name}+' '+${ingredient.quantity}+' '+${ingredient.measurement_unit}"></span>
					<!-- <a th:href="@{'/admin/addActorToMovie/'+ ${actor.id}+'/'+${movie.id}}"><button type="button"> Aggiungi</button></a> -->
				</li>
			</ul>
		</div>
		<div class="box2">
			<a th:href="@{'/admin/formUpdateMovie/'+ ${movie.id}}"><button type="button">Fine</button></a>
		</div>
	</div>
</div>
</body>

</html>