<!DOCTYPE html>
<html>
	
  <head>
    <title>Cuochi</title>
    <link rel="stylesheet" href="/stile.css?version=2" />
	<div th:replace="~{fragments :: Stylesheet}"></div>
  </head>
  
  <body>
	<div th:replace="~{fragments :: Navbar}"></div>

    <!--div><a href="/"><img src="/images/Foto-Merialdo.jpg" height="50%"/></a></div-->
	<h1 class="text-center text-uppercase fw-bolder pt-3">Cuochi</h1>
	<div th:if="${cooks.isEmpty()}" class="d-flex justify-content-center align-items-center py-5" style="height: 50vh;">
		<h1 class="text-center text-purple fw-bolder">Non ci sono Cuochi nel sistema</h1>
	</div>
	<div id="grid">
	      <div class="container-fluid p-3">
	          <div class="row g-3" >
	              <div class="col-lg-4 col-sm-6" th:each="cook : ${cooks}">
	                  <a class="grid-box" th:href="@{'/cooks/' + ${cook.id}}">
	                      <img class="img-fluid rounded-top-4" src="/images/baked-cake.png" alt="..." />
	                      <div class="grid-caption mt-n2 rounded-bottom-4">
	                        <div class="grid-caption-heading text-cream" th:text="${cook.name}">Ratatouille</div>
	                        <div class="grid-caption-subheading text-muted" th:text="'('+${cook.surname}+')'">Remy Therat</div>
	                    </div>
	                  </a>
	              </div>
	          </div>
	      </div>
	  </div>
	 
    <ul>
      <li th:each="cook : ${cooks}">
        <a th:href="@{'/cooks' + '/' + ${cook.id}}"
           th:text="${cook.name} + ' (' + ${cook.surname} + ')'"> Carlo Cracco </a>
      </li>
    </ul>
	<div th:replace="~{fragments :: Footer}"></div>

  </body>

</html>
