<!DOCTYPE html>
<html>
	<head>
		<title>
			Form Nuovo Cuoco
		</title>
		<div th:replace="~{fragments :: Stylesheet}"></div>
	</head>
	<body>
		<div th:if="${role!=null && role=='ADMIN'}"><div th:replace="~{fragments :: Navbar-admin}"></div></div>
		<div th:if="${role!=null && role=='DEFAULT'}"><div th:replace="~{fragments :: Navbar-logged}"></div></div>
		<div th:if="${#authorization.expression('isAnonymous()')}"><div th:replace="~{fragments :: Navbar}"></div></div>

		<section class="generic_section">
				<div class="container">
					<div class="mt-5 mb-2">
						<h1 class="text-center text-uppercase fw-bolder pt-3">Aggiungi Cuoco</h1>
					</div>
						

					<div class="row justify-content-center">
						<div class="col-md-6 mb-5">

							

							<div class="container my-3">
							        <div class="form_container">
							            <form th:action="@{/admin/cooks}" method="post" th:object="${cook}" enctype="multipart/form-data">
											<div th:if="${#fields.hasGlobalErrors()}" class="alert alert-danger" role="alert">
												<h4 class="text-orange fw-semibold" align="center" th:each="err : ${#fields.globalErrors()}" th:text="'Errore: ' + ${err}">...</h4>
											</div>
						                
											<div class="mb-2">
											  <label class="form-label">Nome:</label>
											  <input type="text" th:field="${cook.name}" class="form-control" placeholder="Remy">
											  <span class="text-orange" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
											</div>
											
											<div class="mb-2">
											  <label class="form-label">Cognome:</label>
											  <input type="text" th:field="${cook.surname}" class="form-control" placeholder="The Rat">
											  <span class="text-orange" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></span>
											</div>
											<div class="mb-2">
											  <label class="form-label">Data di Nascita:</label>
											  <input type="date" th:field="${cook.dateOfBirth}" class="form-control">
											  <span class="text-orange" th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}"></span>
											</div>
											<div class="mb-2">
											  <label class="form-label">Carica immagine(500x500):</label>
											  <input type="file" name="file" class="form-control" required>
											</div>


											<div class="d-flex justify-content-end align-items-center">
											    <div>
											        <button type="submit" class="btn btn-success mt-3">Conferma</button>
											    </div>
											</div>
							            </form>
							        </div>
							    </div>							
							 </div>
					</div>

					<br>
				</div>
			</section>
	
	<div th:replace="~{fragments :: Footer}"></div>
	</body>
</html>