<!DOCTYPE html>
<html>
	<head>
		<title>
			Form Nuovo Cuoco
		</title>
		<link rel="stylesheet" href="/stile.css?version=3" />		
	</head>
	<body>
		<div><a href="/"><img src="/images/Foto-Merialdo.jpg" height="50%"/></a></div>
		<h1>Aggiungi un nuovo Cuoco</h1>
		<form th:action="@{/admin/cooks}" method="POST" th:object="${cook}">
		<div> <span th:text="${messaggioErrore}">Errore</span> </div>
		<div>
        Nome: <span><input required type="text" th:field="${cook.name}"/></span>
		</div>
		<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
      <div>
        Cognome: <span><input required type="text" th:field="${cook.surname}"/></span>
      </div>
      	<span th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></span>     
      <div>
        Data di nascita: <span><input type="date" th:field="${cook.dateOfBirth}"/></span>
      </div>
		<span th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}"></span>     
      
      <div>
        <span><button type="submit">Conferma</button></span>
      </div>
    </form>

		
	</body>
</html>