<!DOCTYPE html>
<html>
	<head>
    <title>Nuova Ricetta</title>
    <link rel="stylesheet" href="/stile.css?version=3" />
  </head>
  <body>
    <div><a href="/"><img src="/Foto-Merialdo.jpg" height="50%"/></a></div>
    <h1>Aggiungi una nuova Ricetta</h1>
    <form th:action="@{/recipes}" method="POST" th:object="${recipe}">
      <div>
        <span th:text="${messaggioErrore}">Errore</span>
      </div>
      <div>
        Titolo: <span><input required type="text" th:field="${recipe.name}"/></span>
      </div>
      <div>
        Procedimento: <span><input required type="text" th:field="${recipe.description}"/></span>
      </div>
      <div>
        URL immagine: <span><input type="url" th:field="${recipe.images}" /></span>
      </div>
      <h1 th:each = "ingredient : ${recipe.ingredients}">Ingredienti</h1>
      <div>
      Nella prossima pagina puoi inserire gli ingredienti
      </div>
      <div>
        <span><button type="submit">Conferma</button></span>
      </div>
    </form>
  </body>
</html>
