<!DOCTYPE html>
<html>

<head>
	<title>
		SiwFood - Homepage
	</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<div><img src="/images/Foto-Merialdo.jpg" height="50%" /></div>
	<h1>Consulta</h1>
	<div> 
		<a href="/recipes">Lista ricette</a>
	</div>
	<div> 
		<a href="/user/newRecipe">Aggiungi ricette</a>
	</div>
	<div> 
		<a href="/formSearchMovies">link non funzionante</a>
	</div>
	<div> 
		<a href="/cooks">Lista cuochi</a>
	</div>
	<div> 
		<a href="/user/newCook">Aggiungi cuoco</a>
	</div>
	
</body>

</html>