<!DOCTYPE html>
<html>

<head>
	<title>
		Ratatouille - Homepage
	</title>	
	<div th:replace="~{fragments :: Stylesheet}"></div>
</head>

<body>
	<div th:replace="~{fragments :: Navbar}"></div>
	<div th:replace="~{fragments :: Carousel-home}"></div>

	<!-- Portfolio-->
	        <div id="portfolio">
	            <div class="container-fluid p-0">
	                <div class="row g-0 mt-3 bg-orange align-items-center">
	                    <div class="col-lg-6 col-sm-6">
	                        <a class="portfolio-box" href="/recipes" title="Project Name">
	                            <img class="img-fluid" src="/images/baked-cake.png"/>
	                            <div class="portfolio-box-caption">
	                                <div class="project-category text-orange">vai a</div>
	                                <div class="project-name text-orange">TUTTE LE RICETTE</div>
	                            </div>
	                        </a>
	                    </div>
	                    <div class="col d-flex flex-column justify-content-center align-items-center">
	                        <h1 class="text-cream text-center text-uppercase fw-bold">le ricette più buone</h1>
							<i class="fa-solid fa-arrow-left fa-7x text-cream"></i>
	                    </div>
	                </div>
					<div class="row g-0 mb-3 align-items-center">
						<div class="col d-flex flex-column justify-content-center align-items-center">
						    <h1 class="text-orange text-center text-uppercase fw-bolder">i cuochi più creativi</h1>
							<i class="fa-solid fa-arrow-right fa-7x text-orange"></i>
						</div>
						<div class="col-lg-6 col-sm-6">
						    <a class="portfolio-box" href="/cooks" title="Project Name">
						        <img class="img-fluid" src="/images/cooking-kids.jpg" alt="..." />
						        <div class="portfolio-box-caption">
						            <div class="project-category text-cream">vai a</div>
						            <div class="project-name text-cream">TUTTI I CUOCHI</div>
						        </div>
						    </a>
						</div>
	                </div>
	            </div>
	        </div>
	  
	<div th:replace="~{fragments :: Footer}"></div>
</body>
</html>