<!DOCTYPE html>
<html>
<head>
	<title>Ricetta</title>
	<div th:replace="~{fragments :: Stylesheet}"></div>
</head>
  <body>
	<div th:replace="~{fragments :: Navbar}"></div>
    <div><a href="/"><img src="/images/Foto-Merialdo.jpg" height="50%"/></a></div>
    <div th:if="${recipe}">
    <h1 th:text="${recipe.name}">Nome Ricetta</h1>
        <!--  <div>Cuoco: <span th:text="'(' + ${ricetta.cuoco.nome} + ')'">Remy Therat</span></div> -->
		<div th:text= "${recipe.description}">Description oaandoaiwdjawiopdjaowidjaowidj</div>
		<span th:each="ingredient : ${recipe.ingredients}">
			<span th:text="${ingredient.name}+' '+ ${ingredient.quantity}">escargot 200</span>
		</span>
        <span th:each="image : ${recipe.images}">
			<img width="30%"  th:src="${image}" />
		</span>
    </div>
    <h1 th:unless="${recipe}" class="text-center text-purple fw-bolder">Non esiste questa ricetta nel sistema</h1>
	<div th:replace="~{fragments :: Footer}"></div>
  </body>
</html>
